@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.animate-rotate {
  animation: rotate 4s linear infinite;
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
html {
  scroll-behavior: smooth;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
